<h1>id: <%= @task.id %> さんの業務内容編集</h1>

<%= form_with(model: @task, local: true) do |f| %>
  <%= f.label :content, '内容' %>
  <%= f.text_field :content %>

  <%= f.submit '編集する' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>